:root {
    --bg-color: #162e2d;
    --primary-color: #15d8be;
    --nav-button-color: #0abab5;
    --toggle-in-color: #a9dad9;
    --moon-color: #25cfb0;
    --header-sidebar-color: #163b3b;
    --secondary-color: #254d47;
    --queue-button-color: #15d8be;
    --gradient-1: #28e7a5;
    --gradient-2: #20a7c4;
    --overlay-on-color: #46888a;
    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #fff;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --primary: #007bff;
    --secondary: #6c757d;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #f8f9fa;
    --dark: #343a40;
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
    --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

body {
    margin: 0;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #ffffff !important;
    background-color: var(--bg-color) !important;
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    margin-bottom: 0;
    font-family: inherit;
    font-weight: 600;
    line-height: 1.2;
    color: var(--primary-color);
}


/* <a> styling */

a {
    text-decoration: none;
}

a:link {
    color: var(--green);
}


/* visited link */

a:visited {
    color: var(--primary-color);
}


/* mouse over link */

a:hover {
    color: var(--overlay-on-color);
}


/* selected link */

a:active {
    color: var(--toggle-in-color);
}

.ms_color {
    color: var(--primary-color) !important
}

.form-control {
    height: 40px;
    padding: 0px 20px;
    font-size: 16px;
    line-height: 40px;
    color: #777777;
    background-color: #fff;
    border-radius: 5px;
    border: 1px solid transparent;
}

.form-control:focus {
    box-shadow: 0px 0px 10px rgba(59, 200, 231, 0.55);
    border: 1px solid var(--primary-color);
}

select.form-control:not([size]):not([multiple]) {
    height: 40px;
}

.padder_top100 {
    padding-top: 100px !important;
}

.padder_top80 {
    padding-top: 80px !important;
}

.padder_top90 {
    padding-top: 90px !important;
}

.padder_top5 {
    padding-top: 5px;
}

.padder_top10 {
    padding-top: 10px;
}

.padder_top20 {
    padding-top: 20px;
}

.padder_top110 {
    padding-top: 110px;
}

.padder_top50 {
    padding-top: 50px;
}

.padder_top55 {
    padding-top: 55px;
}

.padder_top60 {
    padding-top: 60px;
}

.padder_top70 {
    padding-top: 70px;
}

.padder_top15 {
    padding-top: 15px;
}

.padder_bottom70 {
    padding-bottom: 70px;
}

.padder_bottom20 {
    padding-bottom: 20px;
}

.padder_top30 {
    padding-top: 30px;
}

.marger_top20 {
    margin-top: 20px;
}

.marger_top15 {
    margin-top: 15px;
}

.marger_bottom30 {
    margin-bottom: 30px;
}

.marger_bottom100 {
    margin-bottom: 100px;
}

.marger_bottom25 {
    margin-bottom: 25px;
}

.marger_top100 {
    margin-top: 100px;
}

.marger_top60 {
    margin-top: 60px;
}

.ms_relative_inner {
    position: relative;
}

.marger_top20 {
    margin-top: 20px;
}

.padder_bottom60 {
    padding-bottom: 60px !important;
}

.padder_bottom30 {
    padding-bottom: 30px !important;
}

.marger_bottom60 {
    margin-bottom: 60px;
}

.padding_right40 {
    padding-right: 40px;
}