.search-result {
    top: 45px;
    left: 0;
    border-radius: 5px;
    position: absolute;
    background-color: white;
    width: 100%;
    min-height: 0px;
    max-height: 450px;
    overflow: auto;
    z-index: 0;
}

.search-item-wrapper {
    max-height: calc(100vh - 100px);
}

.search-item-type {
    width: 100%;
    display: block;
    padding: 4px 7px;
    font-size: 25px;
    color: #15d8be;
}

.search-result .result-item {
    padding: 7px 20px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    display: block;
    color: unset;
}

.search-result .result-item:hover {
    color: var(--primary-color) !important;
    cursor: pointer;
    background: #e6fffc !important;
}


/* width */

 ::-webkit-scrollbar {
    width: 6px;
}


/* Track */

 ::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 10px;
}


/* Handle */

 ::-webkit-scrollbar-thumb {
    background: var(--primary-color);
    border-radius: 10px;
}


/* Handle on hover */

 ::-webkit-scrollbar-thumb:hover {
    background: var(--nav-button-color);
}