.swiper-slide {
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    width: 100%;
    height: 100%;
    position: relative;
    -webkit-transition-property: -webkit-transform;
    transition-property: -webkit-transform;
    -o-transition-property: transform;
    transition-property: transform;
    transition-property: transform, -webkit-transform;
}

/* .ms_rcnt_box {
    text-align: center;
}

.ms_rcnt_box_img {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
}

.ms_rcnt_box_img img {
    width: 100%;
    border-radius: 10px;
}

img {
    vertical-align: middle;
    border-style: none;
}

.ms_main_overlay {
    opacity: 0;
    transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
}

.ms_box_overlay {
    position: absolute;
    border-radius: 10px;
    background: -webkit-linear-gradient( 90deg, rgb(22, 26, 46) 0%, rgb(237, 63, 179) 0%, var(--gradient-1) 0%, rgba(32, 167, 196, 0) 100%);
    height: 100%;
    width: 100%;
    left: 0;
    top: 100%;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
}

.ms_rcnt_box:hover .ms_main_overlay {
    opacity: 1;
}

.ms_rcnt_box:hover .ms_box_overlay {
    top: 0;
}

.ms_more_icon {
    position: absolute;
    top: 8px;
    right: 20px;
    cursor: pointer;
    transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
}

ul.more_option {
    padding: 0px;
    margin: 0px;
    position: absolute;
    top: 5px;
    right: 30px;
    background-color: #fff;
    max-width: 172px;
    width: 100%;
    list-style: none;
    padding: 25px 0px 13px 20px;
    text-align: left;
    border-radius: 10px;
    z-index: 100;
    visibility: visible;
    opacity: 0;
    transform: translateX(-15px);
    transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
}

ul.more_option:after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    top: 9px;
    right: -9px;
    border-top: 9px solid transparent;
    border-bottom: 9px solid transparent;
    border-left: 9px solid #fff;
}

ul.more_option li {
    width: 100%;
    display: block;
}

ul.more_option.open_option {
    opacity: 1;
    right: 50px;
    visibility: visible;
    transform: translateX(0px);
    -webkit-transform: translateX(0px);
    -moz-transform: translateX(0px);
    -ms-transform: translateX(0px);
}

ul.more_option li a {
    text-align: left !important;
    color: #777777;
    padding-bottom: 10px;
    display: block;
    font-size: 13px;
}

ul.more_option li a:hover,
.ms_rcnt_box:hover .ms_rcnt_box_text h3 a {
    color: var(--primary-color);
}

a {
    color: var(--primary-color);
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
}

a {
    color: #007bff;
    text-decoration: none;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}

ul.more_option li a .opt_icon {
    padding-right: 10px;
    padding-bottom: 0;
    font-size: 11px;
    line-height: 21px;
}

ul.more_option li a .opt_icon .icon {
    width: 16px;
    height: 16px;
    display: inline-block;
    vertical-align: middle;
    background-image: url(../../../assets/images/svg/icon.svg);
    background-repeat: no-repeat;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}

ul.more_option li a .opt_icon .icon_fav {
    background-position: -453px -4px;
}

ul.more_option li a .opt_icon .icon_queue {
    background-position: -483px -4px;
}

ul.more_option li a .opt_icon .icon_dwn {
    background-position: -513px -4px;
}

ul.more_option li a .opt_icon .icon_playlst {
    background-position: -543px -4px;
}

ul.more_option li a .opt_icon .icon_share {
    background-position: -573px -4px;
}

ul.more_option li a:hover .opt_icon .icon_fav {
    background-position: -453px -33px;
}

ul.more_option li a:hover .opt_icon .icon_queue {
    background-position: -483px -33px;
}

ul.more_option li a:hover .opt_icon .icon_dwn {
    background-position: -513px -33px;
}

ul.more_option li a:hover .opt_icon .icon_playlst {
    background-position: -543px -33px;
}

ul.more_option li a:hover .opt_icon .icon_share {
    background-position: -573px -33px;
}

.ms_rcnt_box .ms_play_icon {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 10;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.ms_play_icon {
    position: absolute;
    top: -40%;
    left: 50%;
    cursor: pointer;
    width: 30px;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}

.ms_rcnt_box_text {
    text-align: left;
    margin-top: 20px;
}

.ms_rcnt_box_text h3 {
    font-size: 16px;
    margin-bottom: 5px;
}

.ms_rcnt_box_text h3 a {
    color: #ffffff;
}

.ms_rcnt_box_text p {
    color: #dedede;
    font-size: 14px;
    margin: 0px;
} */